// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* footer */

footer {
    margin-top: 20px;
    padding: 20px 60px;
    background-color: #313333;
}


footer .box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


 .box-footer {
    background-color: #414242;
    width: 250px;
    height: auto;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    padding-left: 20px;
}

 .box-footer h5 {
    margin-top: 5px;
    font-weight: bold;
}

 .box-footer ul {
    list-style-type: none;
    padding-left: 0;
}



 .box-footer ul li a {
    text-decoration: none;
    color: #fff;
}


 .box-footer ul li a:hover {
    color: #00a396;
}



.box-container .app-store, .google-store {
    display: block;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 8px;
    text-align: left;
    
}


.app-store a, 
.google-store a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}



 .app-store a #icon-apple, 
 .google-store a #icon-apple,  
 .app-store a #icon-google,  
 .google-store a #icon-google {
    font-size: 30px;
    margin-right: 5px;
}




.nav-social {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-social .social-box span {
    margin-right: 10px;
}



.nav-social .social-box span #icon-fb {
    font-size: 25px;
    color: #fff;
}



 .nav-social .social-box span #icon-fb:hover {
    color: #331df0;
    cursor: pointer;
}



.nav-social .social-box span #icon-tw {
    font-size: 25px;
    color: #fff;
}



 .nav-social .social-box span #icon-tw:hover {
    color: #3eabf3;
    cursor: pointer;
}



footer .nav-social .social-box span #icon-ig {
    font-size: 25px;
    color: #fff;
}



.nav-social .social-box span #icon-ig:hover {
    color: #e71756;
    cursor: pointer;
}



footer .nav-social 
.copyright span {
    font-size: 16px;
    color: #6c8585;
}


/* MAIN.BLADE */


body {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url("img/placeholder.svg"); */
}

/* MAIN */
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 20px;
}

.debug {
    border: 1px solid black;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

/* MAIN SEZIONE 1 */
#selection-1 {
    background-color: white;
}

.blocks.flex {
    display: flex;
    flex-wrap: nowrap;
}

.blocks h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.block {
    margin-bottom: 40px;
}

.block .img {
    cursor: pointer;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5px;
}

.comfort-food {
    width: 40%;
    padding-right: 30px;
}

.perfect-share {
    width: 60%;
}

.dessert {
    width: 60%;
}

.exclusive {
    width: 40%;
    padding-left: 30px;
}


/* MAIN SEZIONE 2 */
.blocks.flex-2{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;;
}

.top-block-2{
    height:auto;
}

.top-block-2 img{
    width: 353px;
    margin-right:5px;
    
}


/* MAIN SEZIONE 3 */
#something-else-3 {
    background-color: #FFEAE4;
    padding-bottom: 20px;
}

#something-else-3 .categories {
    text-align: center;
}

#something-else-3 li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

#something-else-3 ul li {
    list-style-type: none;
    background-color: #e8d2cc;
    border-radius: 3px;
    padding: 10px;
}

#something-else-3 ul a li {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

#something-else-3 ul li:hover {
    background-color: hotpink;
}

#something-else-3 ul a li:hover {
    color: white;
}
/* FINE MAIN.BLADE */

/* DASHBOARD.BLADE */
.container.dashboard {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin-top: 20px;
    padding: 50px;
}

.container.dashboard h2 {
    margin-bottom: 30px;
}

.reg-button {
    width: 400px;
    height: 300px;
    background-color: #00C2B3;
    line-height: 290px;
    border-radius: 8px;
}

.reg-button:hover, .reg-button.create:hover {
    background-color: #14ccbe;
}

.dashboard-box li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dashboard-box ul li {
    border-radius: 3px;
    background-color: #00C2B3;
}

.dashboard-box ul li a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

/* FINE DASHBOARD.BLADE */

/* FOODS.BLADE, ORDERS.BLADE */
.reg-button.create {
    width: 500px;
    height: 100px;
    background-color: #00C2B3;
    line-height: 100px;
}

button {
    width: 100px;
    height: 20px;
    background-color: #00C2B3;
    line-height: 20px;
    color: white;
}
