* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* footer */

footer {
    padding: 20px 60px;
    background-color: #313333;
}

footer .box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .box-footer {
    background-color: #414242;
    width: 250px;
    height: auto;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    padding-left: 20px;
}

 .box-footer h5 {
    margin-top: 5px;
    font-weight: bold;
}

 .box-footer ul {
    list-style-type: none;
    padding-left: 0;
}

 .box-footer ul li a {
    text-decoration: none;
    color: #fff;
}


 .box-footer ul li a:hover {
    color: #00a396;
}

.box-container .app-store, .google-store {
    display: block;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 8px;
    text-align: left;

}

.app-store a,
.google-store a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

 .app-store a #icon-apple,
 .google-store a #icon-apple,
 .app-store a #icon-google,
 .google-store a #icon-google {
    font-size: 30px;
    margin-right: 5px;
}

.nav-social {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-social .social-box span {
    margin-right: 10px;
}

.nav-social .social-box span #icon-fb {
    font-size: 25px;
    color: #fff;
}

 .nav-social .social-box span #icon-fb:hover {
    color: #331df0;
    cursor: pointer;
}

.nav-social .social-box span #icon-tw {
    font-size: 25px;
    color: #fff;
}

 .nav-social .social-box span #icon-tw:hover {
    color: #3eabf3;
    cursor: pointer;
}

footer .nav-social .social-box span #icon-ig {
    font-size: 25px;
    color: #fff;
}

.nav-social .social-box span #icon-ig:hover {
    color: #e71756;
    cursor: pointer;
}

footer .nav-social
.copyright span {
    font-size: 16px;
    color: #6c8585;
}

/* MAIN.BLADE */

/* MAIN */
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 20px;
}

.debug {
    border: 1px solid black;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

/* MAIN SEZIONE 1 */
#selection-1 {
    background-color: white;
    z-index: 13;
    position: relative;
}

.blocks.flex {
    display: flex;
    flex-wrap: nowrap;
}

.blocks h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.block {
    margin-bottom: 40px;
}

.block .img {
    cursor: pointer;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5px;
}

.comfort-food {
    width: 40%;
    padding-right: 30px;
}

.perfect-share {
    width: 60%;
}

.dessert {
    width: 60%;
    padding-left: 15px;
}

.exclusive {
    width: 40%;
    padding-left: 15px;
}

/* .comfort-food .img {
    background-image: url("img/menu-tag-image-1.jpg");
}

.dessert .img {
    background-image: url("img/menu-tag-image-2.jpg");
}

.perfect-share .img {
    background-image: url("img/menu-tag-image-3.jpg");
}

.exclusive .img{
    background-image: url("img/menu-tag-image-4.jpg");
} */

/* MAIN SEZIONE 2 */
#favorite-food-2 {
  background-color: #e29f9f;
}

.blocks.flex-2 {
  display: flex;
  flex-wrap: nowrap;
}

.top-block-2 h2 {
  font-size: 20px;
  font-weight: bold;
}

.top-block-2 img {
  width: 353px;
  margin-right: 5px;
}

p {
  font-size: 16px;
  color: black;
}

/* MAIN SEZIONE 3 */
#something-else-3 {
    background-color: #FFEAE4;
    padding-bottom: 20px;
}

#something-else-3 .categories {
    text-align: center;
}

#something-else-3 li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

#something-else-3 ul li {
    list-style-type: none;
    background-color: #e8d2cc;
    border-radius: 3px;
    padding: 10px;
}

#something-else-3 ul a li {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

#something-else-3 ul li:hover {
    background-color: hotpink;
}

#something-else-3 ul a li:hover {
    color: white;
}
/* FINE MAIN.BLADE */

/* DASHBOARD.BLADE */
.container.dashboard {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    position: relative;
    z-index: 3;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-control {
    width: 100%;
    height: 30px;
}

.btn.btn-primary {
    padding: 10px;
}

.table {
    width: 100%;
}

tr {
  border: 1px solid blue;
}

.table th {
    text-align: left;
}

.table tr {
    height: 50px;
}

.container.dashboard h2 {
    margin-bottom: 30px;
}

.reg-button {
    width: 400px;
    height: 100px;
    background-color: #00C2B3;
    line-height: 100px;
    border-radius: 8px;
}

.reg-button:hover, .reg-button.create:hover {
    background-color: #14ccbe;
}

.dashboard-box li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dashboard-box ul li {
    border-radius: 3px;
    background-color: #00C2B3;
}

.dashboard-box ul li a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

/* FINE DASHBOARD.BLADE */

/* FOODS.BLADE, ORDERS.BLADE */
.reg-button.create {
    width: 400px;
    height: 80px;
    background-color: #00C2B3;
    line-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.reg-button.create h1 {
    font-size: 1.9rem;
}

.table button {
    width: 100px;
    height: 100px;
    background-color: #00C2B3;
    line-height: 20px;
    color: white;
}

/* HEADER */
.box-indirizzo h1 {
    font-family: 'Roboto', sans-serif;
}

.header.main {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header.dashboard {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.bg {
    background-color: #d0eb99;
    display: block;
    position: relative;
}

.bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 19.8rem;
    right: 0;
    background-color: #00ccbc;
    transform: skewY(-5deg);
    transform-origin: left;
}

.nav {
    padding-top: 20px;
    justify-content: space-between;
}

.nav,
.buttons {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
}

.buttons {
    width: 500px;
    justify-content: space-between;
}

.buttons i {
    color: #00CCBC;
    padding-right: 10px;
}

.collabora-con-noi,
.registrati-o-accedi,
.menu {
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 190px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.menu {
    width: 100px;
}

.card {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card h1 {
    position: absolute;
    bottom: 200px;
    left: 0;
    font-size: 40px;
    color: #440063;
}

.text-box a {
    color: #00ccbc;
    text-decoration: none;
}

.text-box button {
    background-color: #00ccbc;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.search-bar {
    width: 400px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(170, 170, 170);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box p:last-child {
    font-size: 12px;
    color: gray;
}

.campagna {
    width: 30%;
    position: absolute;
    right: 5%;
    top: 10%;
}

.campagna-box {
    display: flex;
    justify-content: end;
    height: 30rem;
    position: relative;
}

.campagna-box::before {
    content: "";
    position: absolute;
    width: 35%;
    top: 19.5rem;
    height: 10rem;
    right: 2%;
    background-color: #007E8A;
    transform: skewY(3deg);
    transform-origin: left;
    z-index: 10;
}

.campagna-box p {
    position: absolute;
    right: 3.8rem;
    top: 23rem;
    z-index: 20;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

#drop-down-1 {
    background-color: white;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 240px;
    border-radius: 5px;
    z-index: 20;
}

#drop-down-1 ul {
    list-style: none;
    padding: 10px 10px;
}

#drop-down-1 ul>li {
    padding: 5px 5px;
}

.active {
    display: none;
}


a{
    text-decoration: none;
    color:black;
}



.aziende button {
    color:white;
    background-color: #00ccbc;;
    padding: 12px 24px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
.aziende button:hover {
    background-color: #00bbad;
}




.apple_google {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.apple_google img {
    width: 46%;
}


.top-block-3 img {
    width: 353px;
    margin-right: 30px;
    height: 100%;

  }


  /* section work-with us */
.box-work {
	 height: 600px;
	 width: 350px;
	 margin-bottom: 50px;
	 margin-right: 25px;
     color:white,


}

.box-work img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

.box-work button {
    background-color: #00ccbc;;
    padding: 12px 24px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    margin: 20px 20px;
}



.box-work button:hover {
    background-color: #00bbad;
}

.grey {
    background-color: #bac3c3;
}

.red {
    background-color: #ff483b;
}
.orange {
    background-color: #ff8100;
}

.box-work h2{
    color:white;
     font-size: 40px;
	 font-weight: bold;
	 padding: 5px 25px;
}

.box-work p{
    color:white;
    font-size:16px;
    line-height: 22px;
    padding-left: 25px;
}


.navorder-flex{
    display: flex;
    justify-content:space-between;
    list-style: none;
}