* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: #d0eb99;
}


/* footer */

footer {
    padding: 20px 60px;
    background-color: #313333;
}

footer .box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-footer {
    background-color: #414242;
    width: 250px;
    height: auto;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

.box-footer h5 {
    margin-top: 5px;
    font-weight: bold;
}

.box-footer ul {
    list-style-type: none;
    padding-left: 0;
}

.box-footer ul li a {
    text-decoration: none;
    color: #fff;
}

.box-footer ul li a:hover {
    color: #00a396;
}

.box-container .app-store,
.google-store {
    display: block;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 8px;
    text-align: left;
}

.app-store a,
.google-store a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.app-store a #icon-apple,
.google-store a #icon-apple,
.app-store a #icon-google,
.google-store a #icon-google {
    font-size: 30px;
    margin-right: 5px;
}

.nav-social {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-social .social-box span {
    margin-right: 10px;
}

.nav-social .social-box span #icon-fb {
    font-size: 25px;
    color: #fff;
}

.nav-social .social-box span #icon-fb:hover {
    color: #331df0;
    cursor: pointer;
}

.nav-social .social-box span #icon-tw {
    font-size: 25px;
    color: #fff;
}

.nav-social .social-box span #icon-tw:hover {
    color: #3eabf3;
    cursor: pointer;
}

footer .nav-social .social-box span #icon-ig {
    font-size: 25px;
    color: #fff;
}

.nav-social .social-box span #icon-ig:hover {
    color: #e71756;
    cursor: pointer;
}

footer .nav-social .copyright span {
    font-size: 16px;
    color: #6c8585;
}


/* MAIN.BLADE */


/* MAIN */

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    z-index: 3;
}

.debug {
    border: 1px solid black;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}


/* MAIN SEZIONE 1 */

#selection-1 {
    background-color: white;
    z-index: 13;
    position: relative;
}

.blocks.flex {
    display: flex;
    flex-wrap: nowrap;
}

.blocks h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.block {
    margin-bottom: 40px;
}

.block .img {
    cursor: pointer;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5px;
}

.comfort-food {
    width: 40%;
    padding-right: 30px;
    cursor: pointer;
}

.perfect-share {
    width: 60%;
}

.dessert {
    width: 60%;
    padding-left: 15px;
}

.exclusive {
    width: 40%;
    padding-left: 20px;
}


/* .comfort-food .img {
    background-image: url("img/menu-tag-image-1.jpg");
}

.dessert .img {
    background-image: url("img/menu-tag-image-2.jpg");
}

.perfect-share .img {
    background-image: url("img/menu-tag-image-3.jpg");
}

.exclusive .img{
    background-image: url("img/menu-tag-image-4.jpg");
} */


/* MAIN SEZIONE 2 */

#favorite-food-2 {
    background-color: #e29f9f;
}

.blocks.flex-2 {
    display: flex;
    flex-wrap: nowrap;
}

.top-block-2 h2 {
    font-size: 20px;
    font-weight: bold;
}

.top-block-2 img {
    width: 353px;
    margin-right: 5px;
}

p {
    font-size: 16px;
    color: black;
}


/* MAIN SEZIONE 3 */

.something-else-3 {
    background-color: #FFEAE4;
    padding-bottom: 20px;
    position: relative;
    z-index: 11;
}

.something-else-3 .categories {
    text-align: center;
}

.something-else-3 li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
}

.something-else-3 ul li {
    list-style-type: none;
    background-color: #e8d2cc;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.something-else-3 ul a li {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.something-else-3 ul a li:hover {
    color: white;
}

.something-else-3 input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.something-else-3 input~label {
    background-color: #e8d2cc;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
}

.something-else-3 input:checked~label {
    border-radius: 3px;
    padding: 10px;
    color: white;
}

.something-else-3 .card {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}

.categorie-box-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categorie-box-main-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-img-top {
    width: 300px;
    border-radius: 5px;
}

#novità-deliveroo,
#work-with-us-5 {
    background-color: white;
}


/* FINE MAIN.BLADE */


/* DASHBOARD.BLADE */

.container.dashboard {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    position: relative;
    z-index: 3;
}

.rest-dashboard {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    position: relative;
    z-index: 3;
}

.rest-dashboard-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.rest-dashboard-main h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-control {
    width: 100%;
    height: 30px;
}

.btn.btn-primary {
    width: 100px;
    background-color: #00C2B3;
    line-height: 30px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

.btn.btn-primary:hover {
    background-color: #14ccbe;
}

.table {
    border-collapse: collapse;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,241,227,1) 0%, rgba(216,234,255,1) 100%);
    width: 100%;
    margin-top: 20px;
}

.table th {
    padding-left: 15px;
}

.table td {
    padding-left: 15px;
    text-align: center;
}

.table tr {
    height: 90px;
    border: 1px solid white;
}

.container.dashboard h2 {
    margin-bottom: 30px;
}

.container.dashboard h3 {
    margin-bottom: 20px;
}

.reg-button {
    width: 400px;
    height: 100px;
    background-color: #00C2B3;
    line-height: 100px;
    border-radius: 8px;
}

.reg-button:hover,
.reg-button.create:hover {
    background-color: #14ccbe;
}

.dashboard-box li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dashboard-box ul li {
    border-radius: 3px;
    background-color: #00C2B3;
}

.dashboard-box ul li a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.dashboard.types {
    margin-bottom: 5px;
}

.dashboard.types li {
    list-style-type: none;
}


/* FINE DASHBOARD.BLADE */


/* FOODS.BLADE, ORDERS.BLADE */

.reg-button.create {
    width: 300px;
    height: 60px;
    background-color: #00C2B3;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.reg-button.create h1 {
    font-size: 1.7rem;
}

.table button {
    width: 100px;
    background-color: #00C2B3;
    line-height: 30px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.table button:hover {
    background-color: #14ccbe;
}


/* HEADER */

.header.main {
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header0height {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.headercalc {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: calc(100vh - 289px);
}

.header-cart {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header.dashboard {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.bg {
    background-color: #d0eb99;
    display: block;
    position: relative;
}

.bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 19.8rem;
    right: 0;
    background-color: #00ccbc;
    transform: skewY(-5deg);
    transform-origin: left;
}

.nav {
    padding-top: 20px;
    justify-content: space-between;
}

.nav,
.buttons {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
}

.buttons {
    justify-content: space-between;
}

.buttons i {
    color: #00CCBC;
    padding-right: 10px;
}

.homebutton,
.collabora-con-noi,
.registrati-o-accedi,
.menu {
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    padding: 10px;
}

.menu {
    width: 100px;
}

.box-indirizzo .card {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 20;
}

.card-header h2 {
    margin-bottom: 20px;
}

.homecard {
    margin-top: 80px;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
}

.logincard {
    margin-top: 80px;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
}

.logincard-box {
    background-color: white;
    width: 400px;
    border-radius: 5px;
    margin: 0 auto;
}

.registercard {
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
}

.form-group ul {
    list-style-type: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.registercard-box {
    background-color: white;
    width: 700px;
    border-radius: 5px;
    margin: 0 auto;
}

.header h1 {
    position: absolute;
    bottom: 200px;
    left: 0;
    font-size: 40px;
    color: #440063;
    width: 541px;
}

.text-box a {
    color: #00ccbc;
    text-decoration: none;
}

.text-box button {
    background-color: #00ccbc;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.search-bar {
    width: 400px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(170, 170, 170);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.1s ease;
}

.search-bar:focus  {
    box-shadow: 1px 1px 10px 2px #00ccbc;
}

.text-box p:last-child {
    font-size: 12px;
    color: gray;
}

.campagna {
    width: 356px;
    position: absolute;
    right: 5%;
    top: 10%;
}

.campagna-box {
    display: flex;
    justify-content: end;
    height: 30rem;
    position: relative;
}

.campagna-box::before {
    content: "";
    position: absolute;
    width: 420px;
    top: 19.5rem;
    height: 10rem;
    right: 2%;
    background-color: #007E8A;
    transform: skewY(3deg);
    transform-origin: left;
    z-index: 10;
}

.campagna-box p {
    position: absolute;
    right: 2.4rem;
    top: 23rem;
    z-index: 20;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

#drop-down-1 {
    background-color: white;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 240px;
    border-radius: 5px;
    z-index: 20;
}

#drop-down-1 ul {
    list-style: none;
    padding: 10px 10px;
}

#drop-down-1 ul>li {
    padding: 5px 5px;
}

.active {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.aziende button {
    color: white;
    background-color: #00ccbc;
    ;
    padding: 12px 24px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.aziende button:hover {
    background-color: #00bbad;
}

.apple_google {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.apple_google img {
    width: 46%;
}

.top-block-3 img {
    width: 353px;
    margin-right: 30px;
    height: 100%;
}


/* section work-with us */

.box-work {
    height: 600px;
    width: 350px;
    margin-bottom: 50px;
    margin-right: 25px;
    color: white;
}

.box-work img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

.box-work button {
    background-color: #00ccbc;
    ;
    padding: 12px 24px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    margin: 20px 20px;
    cursor: pointer;
    color: white;
}

.box-work button:hover {
    background-color: #00bbad;
}

.grey {
    background-color: #bac3c3;
}

.red {
    background-color: #ff483b;
}

.orange {
    background-color: #ff8100;
}

.box-work h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 5px 25px;
}

.box-work p {
    color: white;
    font-size: 16px;
    line-height: 22px;
    padding-left: 25px;
    padding-right: 25px;
}

.navorder-flex {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* CART */
table#cart {
    min-height: 80vh;
}

table#cart td {
    padding: 20px;
}

div.nav-cart-border-bottom {
    border-bottom: 2px solid #dee2e6;
}

.img-fluid.cart-fluid {
    max-width: 100%;
    height: auto;
    min-width: 80px;
}

#cart-button button {
    color:white;
    background-color: #00ccbc;;
    padding: 12px 24px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

#cart-button button:hover {
    background-color: #00bbad;
}

#app .backgroundColor{
    background-color: hotpink;
    color: white;
}

#app {
  /* display: flex; */
  justify-content: space-between;
}

#app #product .box {
  width: 230px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}

#app #product .box img {
  width: 230px;
}

#app #product .box i {
  width: 50px;
  height: 50px;
  background: #00ccbc;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0 0 4px 2px rgba(80, 80, 80, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

#app #product .box i:hover {
  transform: scale(1.05);
}

#app #product .box h2,
#app #product .box h3 {
  margin-left: 20px;
}

#app #product .box p {
  margin-left: 20px;
  margin-bottom: 10px;
}

#app #cart {
  margin-top: 50px;
  overflow: hidden;
  align-self: flex-end;
  margin-left: 30px;
  width: 37%;
}

#app #cart #head {
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  display: block;
}

#app #cart #head h3 {
  display: inline-block;
  margin: 0;
}

#app #cart #head #price {
  display: inline-block;
  color: #777777;
  margin-left: 200px;
}

#app #cart #head #quantity {
  display: inline-block;
  color: #777777;
  margin-left: 100px;
}

#app #cart #head #total {
  display: inline-block;
  color: #777777;
  margin-left: 100px;
}

#app #cart .row {
  border-bottom: 1px solid #BFBFBF;
  overflow: hidden;
  padding: 10px 0;
  display: block;
}

#app #cart .row img {
  height: 100px;
  float: left;
}

#app #cart .row h4 {
  float: left;
  margin: 0;
  width: 100px;
}

#app #cart .row p {
  float: left;
  margin: 0;
  width: 80px;
  margin-left: 35px;
  text-align: center;
}

#app #cart .row .qty-minus {
  float: left;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

#app #cart .row .qty {
  float: left;
  width: 20px;
  text-align: center;
}

#app #cart .row .qty-plus {
  float: left;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

#app #cart .row .del {
  float: left;
  width: 80px;
  cursor: pointer;
  text-decoration: underline;
  color: #00ccbc;
  margin-left: 20px;
}

#app #cart .row .totalprice {
  float: right;
}

#app #cart .row .row p::before, #app #cart .row .box p::before, #app #cart .row .totalprice::before {
  content: "€";
}

#app #cart h5 {
  font-size: 1.2rem;
  text-align: right;
}

#app #cart h5 a {
    color: #00ccbc;
    text-decoration: underline;
}

=======
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#drop-down-1,
#drop-down-2 {
    background-color: white;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 240px;
    border-radius: 5px;
    z-index: 20;
}

#drop-down-1 ul,
#drop-down-2 ul {
    list-style: none;
    padding: 10px 10px;
}

#drop-down-1 ul>li,
#drop-down-2 ul>li {
    padding: 5px 5px;
}

/* MEDIA QUERY */

@media screen and (max-width: 1260px) {
    .header.main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header h1 {
        padding-left: 20px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1120px) {
    .campagna, .campagna-box::before,
    .campagna-box p {
        display: none;
    }

    .box-indirizzo {
        position: relative;
    }

    .header h1 {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        bottom: 0;
        flex-wrap: nowrap;
    }

    .box-indirizzo .card {
        left: 50%;
        top: 54%;
        transform: translate(-50%, -50%);
        bottom: 0;
    }

    .header.main {
        height: 460px;
    }

    .container h1 {
        text-align: center;
    }
}

@media screen and (max-width: 640px)
