* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.box-indirizzo h1 {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.bg {
    background-color: #d0eb99;
    display: block;
    position: relative;
}

.bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 19.8rem;
    right: 0;
    background-color: #00ccbc;
    transform: skewY(-5deg);
    transform-origin: left;
}

.nav {
    padding-top: 20px;
    justify-content: space-between;
}

.nav,
.buttons {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
}

.buttons {
    width: 500px;
    justify-content: space-between;
}

.buttons i {
    color: #00CCBC;
    padding-right: 10px;
}

.collabora-con-noi,
.registrati-o-accedi,
.menu {
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 190px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.menu {
    width: 100px;
}

.card {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card h1 {
    position: absolute;
    bottom: 200px;
    left: 0;
    font-size: 40px;
    color: #440063;
}

.text-box a {
    color: #00ccbc;
    text-decoration: none;
}

.text-box button {
    background-color: #00ccbc;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.search-bar {
    width: 400px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(170, 170, 170);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box p:last-child {
    font-size: 12px;
    color: gray;
}

.campagna {
    width: 30%;
    position: absolute;
    right: 5%;
    top: 10%;
}

.campagna-box {
    display: flex;
    justify-content: end;
    height: 30rem;
    position: relative;
}

.campagna-box::before {
    content: "";
    position: absolute;
    width: 35%;
    top: 19.5rem;
    height: 10rem;
    right: 2%;
    background-color: #007E8A;
    transform: skewY(3deg);
    transform-origin: left;
    z-index: 10;
}

.campagna-box p {
    position: absolute;
    right: 3.8rem;
    top: 23rem;
    z-index: 20;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

#drop-down-1 {
    background-color: white;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 240px;
    border-radius: 5px;
    z-index: 20;
}

#drop-down-1 ul {
    list-style: none;
    padding: 10px 10px;
}

#drop-down-1 ul>li {
    padding: 5px 5px;
}

.active {
    display: none;
}